{% load i18n %}
<div class="hnews hentry item">
   <p class="entry-title">{% if instance.bookmark %}<a rel="bookmark" href="{{instance.bookmark}}">{% endif %}{{instance.entry_title}}{% if instance.bookmark %}</a>{% endif %}
   <span class="vcard author"><span class="fn n">{{instance.author}}</span></span>
   <span class="source-org vcard"><span class="org fn">{{instance.source_org}}</span></span>
   <a href="{{instance.principles_url}}" rel="principles"><img src="{{instance.principles_img}}" /></a>
   <abbr class="updated" title="{{instance.updated.isoformat}}">{{instance.updated|date:"D d M Y"}}</abbr></p>
   {% if instance.entry_summary %}
   <div class="entry-summary"><em>{{instance.entry_summary}}</em></div>
   {% endif %}
   {% if instance.entry_content %}
   <div class="entry-content">
       {% if instance.dateline %}
       {% if instance.latitude and instance.longitude %}
       <abbr title="{{instance.latitude}},{{instance.longitude}}" class="dateline geo">
          {{instance.dateline}}
       </abbr>
       {% else %}
       <span class="dateline">
          {{instance.dateline}}
       </span>
       {% endif %}
       {% endif %}
       {{instance.entry_content}}
   </div>
   {% endif %}
  <div>
      <a rel="item-license" href="{{instance.license_url}}">
          {{instance.license_description}}
      </a>
  </div>
</div>
